.best-sellers-section {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ltr {
  direction: ltr;
}
.section-title {
  text-align: center;
  font-size: 48px;
  color: var(--black);
  margin: 0px;
}
.products-row {
  display: grid;
  grid-template-columns: repeat(4, 227px);
  padding: 25px 3px;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}
.product-card {
  width: 227px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.product-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  padding: 12px;
  box-sizing: border-box;
  background-color: var(--white);
}
.product-info {
  margin-top: 8px;
  text-align: left;
  width: 100%;
  color: var(--black);
}
.price-container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.price-original {
  text-decoration: line-through;
  color: var(--grey);
}
.discount-badge {
  width: 60px;
  height: 30px;
  position: absolute;
  top: 12px;
  left: 0px;
  background-color: #f9ac33;
  color: var(--white);
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
}
.brand-name {
  color: var(--grey);
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}
.image-button,
.brand-icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.image-button img,
.brand-icon-button img {
  display: block;
}
@media screen and (max-width: 1200px) {
  .products-row {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
@media screen and (max-width: 960px) {
  .products-row {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
@media screen and (max-width: 600px) {
  .products-row {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
