.categories-section {
  padding: 60px 10px;
  display: flex;
  justify-content: center;
}
.categories-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.arrow-left,
.arrow-right {
  width: 16px;
  height: 32px;
  z-index: 5;
}
.category-card {
  position: relative;
  width: 227px;
  height: 227px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 16px;
}
.category-bg {
  position: absolute;
  inset: 0;
  border-radius: 6px;
  z-index: 1;
}
.category-image {
  position: absolute;
  top: -28px;
  right: 50px;
  height: 180px;
  object-fit: contain;
  z-index: 2;
}
.category-top-image,
.category-icon-relative {
  position: absolute;
  left: 160px;
  z-index: 5;
}
.category-top-image {
  top: 160px;
  width: 55px;
  height: 55px;
}
.category-icon-relative {
  top: 177px;
  left: 177px;
}
.category-content {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 4;
}
.category-name {
  color: var(--black);
}
.category-arrow .arrow-image {
  width: 52px;
  height: 52px;
}
@media (max-width: 1300px) {
  .categories-wrapper {
    flex-direction: column;
    gap: 30px;
  }
  .categories-section {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .category-card {
    width: 200px;
    height: 200px;
  }
  .category-image {
    height: 150px;
    top: -20px;
  }
  .category-top-image {
    left: 144px;
    top: 144px;
    width: 44px;
    height: 44px;
  }
  .category-icon-relative {
    left: 155px;
    top: 155px;
  }
}
@media (max-width: 850px) {
  .categories-section {
    padding: 30px 0;
  }
  .categories-wrapper {
    gap: 6px;
  }
  .arrow-left,
  .arrow-right {
    display: none;
  }
  .categories-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px !important;
  }
  .category-card {
    width: 150px;
    height: 150px;
  }
  .category-image {
    height: 110px;
    top: -15px;
    right: 30px;
  }
  .category-top-image {
    left: 114px;
    top: 102px;
    width: 32px;
    height: 32px;
  }
  .category-icon-relative {
    left: 119px;
    top: 108px;
  }
  .category-name {
    font-size: 14px;
  }
}
