.filter-aside {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
  max-width: 270px;
  gap: 30px;
}
.filter-title {
  color: var(--black);
  margin: 0;
}
.filter-sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
.filter-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.filter-trigger {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-bottom: 2px;
  width: fit-content;
  color: var(--black);
}
.filter-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.filter-label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black);
}
.show-more-text {
  width: fit-content;
  text-decoration: underline;
  margin-top: 4px;
}
.price-slider {
  position: relative;
  width: 100%;
  max-width: 215px;
  height: 36px;
  margin-top: 6px;
}
.price-max,
.price-min {
  position: absolute;
  top: 26px;
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 6px;
}
.price-max {
  right: 0;
}
.price-min {
  left: 0;
}
.slider-track {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: auto;
}
.slider-filled {
  position: absolute;
  top: 5px;
  left: 17px;
  width: 79px;
  height: auto;
}
.slider-thumb {
  position: absolute;
  top: 0;
  width: 15px;
  height: 15px;
}
.slider-thumb-min {
  left: 10px;
}
.slider-thumb-max {
  left: 92px;
}
.filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.clear-button {
  width: 55px;
  height: 40px;
  border: 1px solid #00000026;
  border-radius: 6px;
  background: var(--white);
  color: var(--black);
}
.apply-filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 113px;
  height: 37px;
  background: #bbdae2;
  border: none;
}
.tag-icon {
  width: 12px;
  height: 12px;
}
