.footer-gradient {
  padding: 87px 99px 32px;
  background: linear-gradient(
    141.13deg,
    rgba(206, 225, 242, 0.6) 29.13%,
    #3686c7 166.53%
  );
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 16px;
}
.footer-section ul li a {
  color: var(--black);
  text-decoration: none;
  font-weight: 400;
}
/* Contact Items & Address */
.contact-item,
.contact-address {
  display: flex;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 16px;
}
/* Logo & Description */
.footer-logo-description {
  max-width: 375px;
}
.footer-logo-description .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 32px;
}
.footer-logo-description .logo-wrapper img:last-child {
  height: 48px;
}
.language-selector {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}
@media (max-width: 1280px) {
  .footer-gradient {
    padding: 60px 40px 24px;
  }
  .footer-top {
    flex-wrap: wrap;
    gap: 32px;
  }
  .footer-logo-description {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 576px) {
  .footer-gradient {
    padding: 40px 20px 20px;
  }
  .footer-section ul li {
    margin-bottom: 12px;
  }
  .footer-logo-description .logo-wrapper {
    justify-content: center;
  }
  .contact-item,
  .contact-address {
    flex-direction: column;
  }
}
