.input {
  display: flex;
  width: 100%;
  height: 36px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  background-color: #f5f5f5;
  padding: 0 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: all 0.2s ease-in-out;
}
.input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
}
.input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 1px #2563eb;
}
.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.label {
  font-size: 14px;
  font-weight: 400;
}
.label:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
