.newsletter-section {
  background-color: #e0ebf5;
  padding: 22px 24px;
  border-bottom: 2px solid var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.newsletter-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.newsletter-input {
  width: 385px;
  height: 52px;
}
.newsletter-input::placeholder {
  color: #888;
  font-weight: 500;
  font-size: 14px;
}
.newsletter-text h3,
.newsletter-text p {
  margin: 5px;
}
@media (max-width: 600px) {
  .newsletter-section {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }
  .newsletter-right {
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .newsletter-input {
    width: 100%;
  }
  .newsletter-text h3,
  .newsletter-text p {
    margin: 4px 0;
  }
}
@media (max-width: 900px) {
  .newsletter-section {
    padding: 20px;
    gap: 12px;
  }
}
