.shop-by-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.product-listing-section {
  display: flex;
  gap: 24px;
  padding: 60px 16px 300px;
  background-color: #f6f7f9;
}
.products-content {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-title {
  color: var(--black);
  margin: 0;
}
.sort-button {
  display: inline-flex;
  align-items: center;
  gap: 130px;
  padding: 12px;
  background-color: var(--white);
  border-radius: 8px;
  border: none;
}
.sort-text {
  color: var(--black);
}
@media screen and (max-width: 700px) {
  .product-listing-section {
    flex-direction: column;
    padding: 60px 16px;
  }
  .products-header {
    flex-direction: column;
    align-items: start;
  }
}
