.shop-by-concern {
  padding: clamp(30px, 6vw, 64px) 18px;
}
.shop-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
}
.header-row {
  display: flex;
  align-items: flex-end;
  gap: 120px;
}
.header-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.small-title {
  line-height: 32px;
  color: var(--black);
  margin-bottom: 8px;
}
.large-title {
  font-size: 48px;
  line-height: 48px;
  color: var(--black);
}
.see-all {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: flex-start;
}
.shop-arrow-icon {
  margin-left: 15px;
  width: 12px;
  height: 12px;
}
.concern-row,
.row-2 {
  display: flex;
  align-items: flex-end;
  gap: 58px;
  flex-wrap: wrap;
  justify-content: center;
}
.row-2 {
  gap: 90px;
}
.concern-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.concern-circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
.concern-name {
  margin-top: 12px;
  color: var(--black);
  text-align: center;
}
.multi-line {
  white-space: pre-line;
}
.img-0 {
  transform: translate(-8px, -24px);
}
.img-1 {
  transform: translate(-8px, -37px);
}
.img-2 {
  transform: translate(8px, -35px);
}
.img2-0 {
  transform: translate(-9px, -9px);
}
.img2-1 {
  transform: translateY(-24px);
}
.img2-2 {
  transform: translateY(-32px);
}
.img2-3 {
  transform: translateY(-36px);
}
@media (max-width: 992px) {
  .shop-container {
    gap: 68px;
  }
  .header-row {
    flex-direction: column;
    gap: 95px;
    align-items: center;
    text-align: center;
  }
  .concern-row {
    gap: 40px;
    justify-content: center;
  }
  .concern-circle {
    width: 150px;
    height: 150px;
  }
  .large-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .small-title {
    font-size: 24px;
  }
  .large-title {
    font-size: 32px;
  }
  .concern-row {
    gap: 57px;
  }
  .concern-circle {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 480px) {
  .shop-container {
    gap: 40px;
  }
  .large-title {
    font-size: 28px;
    line-height: 32px;
  }
  .concern-row,
  .row-2 {
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
  }
  .concern-circle {
    width: 110px;
    height: 110px;
  }
  .concern-name {
    font-size: 14px;
  }
  .concern-image {
    max-width: 70%;
  }
}
